connexion == 2.14.2
connexion[swagger-ui] 
python_dateutil == 2.6.0
setuptools
swagger-ui-bundle
pymongo == 4.5.0
DTaaS_TUI @ git+https://gitlab.hpc.cineca.it/lbabetto/DTaaS_TUI
boto3
python-decouple
python-jose
