connexion == 2.14.2
connexion[swagger-ui] 
python_dateutil == 2.6.0
setuptools
swagger-ui-bundle
pymongo == 4.5.0
urllib3 == 1.26
dlaas-tui @ git+https://lbabetto:glpat-SHKz4A2W6RoJU2zFo4Pz@gitlab.hpc.cineca.it/lbabetto/dlaas-tui
boto3
python-decouple
python-dotenv
python-jose
