connexion == 2.14.2
connexion[swagger-ui] 
python_dateutil == 2.6.0
setuptools
swagger-ui-bundle
pymongo == 4.5.0
urllib == 1.26
dtaas-tui @ git+https://gitlab.hpc.cineca.it/lbabetto/dtaas-tui
boto3
python-decouple
python-dotenv
python-jose
